.container {
  background-color: #202024;
  background-image: linear-gradient(to top, #151517, #202024);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.title,
.submit,
#email,
#nameInput {
  color: #fff;
}

#email,
#nameInput,
.btn1:hover,
.btn2:hover {
  background-color: #29292e;
}

#email,
#nameInput {
  width: 100%;
  border-radius: 5px;
  border: 0;
  height: 7.7vh;
  font-size: 1.2rem;
  padding-left: 3%;
  margin-bottom: 4%;
}

.programLvl,
.btn1,
.btn2,
#terms,
.textTerms,
.textFinal {
  color: #c4c4cc;
}

.btn1,
.btn2 {
  background-color: #1b1b1e;
  border: 1px solid #303030;
  border-radius: 5px;
  cursor: pointer;
  max-height: 120px;
  font-size: 1rem;
}

.submit {
  background-color: #e44063;
  border: 0;
  border-radius: 5px;
}

#terms {
  background-color: #fff;
}

.hr {
  margin: 5% 0;
  border: none;
  height: 1px;
  appearance: none;
  background-color: #303030;
  width: 100%;
}

@media (min-width: 769px) {
  .container {
    position: absolute;
    right: 10vw;
    top: 5vh;
    height: 90vh;
    width: 32vw;
    min-width: 320px;
    max-width: 700px;
    padding: 1.4% 2.1%;
  }

  .title {
    margin-top: 2vh;
  }

  #nameInput {
    margin-top: 7%;
  }

  .programLvl {
    margin-top: 5%;
    font-size: 1.1rem;
    font-weight: 500;
  }

  .containerBtn {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
  }

  .btn1,
  .btn2 {
    border-radius: 5px;
    height: 7vw;
    max-height: 120px;
    font-size: 1rem;
  }

  .btn2 {
    margin-left: 2%;
  }

  .termsContainer {
    margin-top: 6%;
    display: flex;
    align-items: center;
  }

  #terms {
    padding: 0.6rem;
    margin-right: 0.5vw;
    appearance: none;
    border-radius: 5px;
  }

  .textTerms {
    line-height: -2;
  }

  .underline {
    text-decoration: underline;
  }

  .submit {
    margin-top: 5.5%;
    padding: 2vw;
  }

  .textFinal {
    margin-top: 0%;
    font-size: 1.1rem;
    font-weight: 300;
  }
}

@media (max-width: 769px) {
  .container {
    position: relative;
    width: 95vw;
    align-items: center;
    max-width: 424px;
    margin: 2vh auto;
    height: 85vh;
    padding: 4%;
  }

  .title {
    font-size: 1.3rem;
    text-align: start;
  }

  #nameInput {
    margin-top: 5%;
  }

  .containerBtn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .btn1,
  .btn2 {
    height: 8vh;
    width: 70vw;
    max-width: 300px;
    margin-top: 2.5%;
  }

  .termsContainer {
    margin-top: 5%;
    align-items: center;
    display: flex;
  }

  .textTerms {
    font-size: 0.9rem;
  }

  .submit {
    padding: 2vh 5vw;
    margin-top: 1vh;
  }

  .textFinal {
    margin-top: 1%;
  }

}
