.container {
  background-color: #202024;
  background-image: linear-gradient(to top, #151517, #202024);
  position: absolute;
  right: 10vw;
  top: 7vh;
  height: 87vh;
  width: 32vw;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 1.4% 2.1%;
}

.title {
  color: #fff;
  margin-top: 2vh;
}

.userIcon {
  position: absolute;
  top: 17.5%;
}

.emailIcon {
  position: absolute;
  top: 29.1%;
}

.userIcon,
.emailIcon {
  left: 9.3%;
}

#nameInput {
  margin-top: 7%;
}

#email,
#nameInput {
  background-color: #29292e;
  color: #fff;
  width: 100%;
  height: 7.7vh;
  border-radius: 5px;
  border: 0;
  padding-left: 10.5%;
  margin-bottom: 4%;
  font-size: 1.2rem;
}

.programLvl,
.btn1,
.btn2,
#terms,
.textTerms,
.textFinal {
  color: #c4c4cc;
}

.programLvl {
  margin-top: 5%;
  font-size: 1.1rem;
  font-weight: 500;
}

.containerBtn {
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
}

.btn1,
.btn2 {
  border: 1px solid #303030;
  border-radius: 5px;
  cursor: pointer;
  background-color: #1b1b1e;
  height: 12vh;
  text-align: start;
  padding-left: 4%;
  font-size: 1rem;
}

.btn1:hover,
.btn2:hover {
  background-color: #29292e;
}

.btn2 {
  margin-left: 2%;
}

.termsContainer {
  margin-top: 6%;
  display: flex;
  align-items: center;
}

#terms {
  padding: 0.6rem;
  margin-right: 0.5vw;
  appearance: none;
  border-radius: 5px;
  background-color: #fff;
}

.textTerms {
  line-height: -2;
}

.underline {
  text-decoration: underline;
}

.submit {
  background-color: #e44063;
  color: #fff;
  margin-top: 5.5%;
  height: 7vh;
  border: 0;
  border-radius: 5px;
}

.hr {
    margin-top: 7%;
    border: none;
    height: .5px;
    background-color: #303030;
}

.textFinal {
    margin-top: 7%;
    font-size: 1.1rem;
    font-weight: 300;
}