@media (min-width: 768px) {
  .container {
    margin: 5vh 10vw 0 10vw;
    width: 45%;
  }

  .containerNews {
    display: flex;
    width: 30%;
    align-items: center;
    margin-bottom: 4vh;
  }

  .newsIcon {
    max-width: 55px;
    width: 5vw;
    max-height: 55px;
    height: 5vw;
  }

  .newsletter {
    margin-left: 1vw;
    font-weight: 300;
    font-size: 1.3rem;
  }

  .containerTitle {
    width: 100%;
  }

  .title {
    font-size: 2.5rem;
    width: 40vw;
    margin-left: -0.1vw;
  }

  .description {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    line-height: 1.3rem;
    width: 34vw;
    margin-top: 4vh;
  }
}

.newsletter {
  color: #e44063;
}

.description {
  color: #c4c4cc;
}

.title {
  color: #fff;
}

@media (max-width: 768px) {
  .container {
    width: 90vw;
    margin: 5vh auto;
  }

  .containerNews {
    display: flex;
    align-items: center;
    width: 50vw;
  }

  .newsletter {
    font-weight: 300;
    margin-left: 2vw;
  }

  .containerTitle {
    margin-top: 5vh;
  }

  .title {
    font-size: 1.5rem;
    line-height: 1.4;
    max-width: 424px;
  }

  .description {
    margin-top: 4vh;
    line-height: 1.3;
    font-size: 0.92rem;
    max-width: 510px;
  }
}
